body {
    margin: 0;
    font-family: 'Monsterrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    background: url("../images/printer.jpg");
}

*:after{
    box-sizing: border-box;
}

h1, h2, h3{
    margin: 0;
}

.container {
        width: 100%;
        max-width:  1310px;
        margin: 0 auto;
}

#h{
    position: fixed;
    left: 10px;
    font-size: 80px;
    user-select: none;
}

#link1{
    position: fixed;
    top: 100px;
    left: 20px;
    color: rgb(48, 48, 48);
    text-decoration: line-through;
}
#link2{
    position: fixed;
    top: 100px;
    left: 185px;
    color: rgb(48, 48, 48);
}
#link3{
    position: fixed;
    top: 100px;
    left: 105px;
    color: rgb(48, 48, 48);
}

#viber{
    position: fixed;
    top: 170px;
    left: 30px;
}

.number1{
    position: fixed;
    top: 180px;
    left: 110px;
}

#phone{
    position: fixed;
    top: 250px;
    left: 30px;
}

.number2{
    position: fixed;
    top: 265px;
    left: 110px;
}

#gmail{
    position: fixed;
    top: 330px;
    left: 30px;
}

.number3{
    position: fixed;
    top: 340px;
    left: 110px;
}

a{
    font-size: 20px;
    text-decoration: none;
}
a:hover{
    text-decoration: line-through;
}

.menu {
    position: fixed;
    width: 100%;
    height: 150px;
    background-size: cover;
    z-index: 1;
}
