body {
    margin: 0;
    font-family: 'Monsterrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    background-color: #669999;
}

*:after{
    box-sizing: border-box;
}

h1, h2, h3{
    margin: 0;
}

.h{
    padding: 0px 0px 0px 25px;
    font-size: 60pt;
    user-select: none;
    font-family: "Plantagenet Cherokee";
    color: #ccccff;
}

header{
    height: 100px;
    width: 1280px;
    background: linear-gradient(to top, #339999, #006666);
}

nav{
    position: relative;
    top: -28px;
    height: 35px;
    width: 1270px;
    background: linear-gradient(to top, #006666, #339999);
    padding: 15px 5px;
}

nav a{
    text-decoration: none;
    color: #cccccc;
    margin-left: 50px;
}

.content{
    margin-top: 120px;
    margin-left: 50px;
}

a{
    font-size: 20px;
    text-decoration: none;
}
a:hover{
    text-decoration: line-through;
}

