body {
    margin: 0;
    font-family: 'Monsterrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    background: rgb(155, 182, 199);
}


h1, h2, h3{
    margin: 0;
}

.container {
    width: 100%;
    max-width:  1310px;
    margin: 0 auto;
}

#h{
    position: fixed;
    left: 10px;
    font-size: 80px;
    user-select: none;
}

#link1{
    position: fixed;
    top: 100px;
    left: 20px;
    color: rgb(48, 48, 48);
}
#link2{
    position: fixed;
    top: 100px;
    left: 185px;
    color: rgb(48, 48, 48);
}
#link3{
    position: fixed;
    top: 100px;
    left: 105px;
    color: rgb(48, 48, 48);
    text-decoration: line-through;
}

.links a {
    font-size: 20px;
    text-decoration: none;
}

.links a:hover{
    text-decoration: line-through;
}

.menu {
    position: fixed;
    width: 100%;
    height: 150px;
    background: rgb(151, 169, 180);
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 1;
}

#ta{
    text-decoration: none;
    color: black;
}

#ta:hover{
    color:rgb(48, 48, 48)
}

.catalog {
    position: absolute;
    top: 160px;
    left: 100px;
    font-size: 20px;
}

.namet {
    margin-top: -200px;
    margin-left: 220px;
}

.desct {
    margin-top: 0px;
    margin-left: 220px;
} 

.pricet {
    margin-top: 80px;
    margin-left: 550px;
}


.tovar{
    background: rgb(191, 206, 214);
    margin: 15px;
}

.tovar:hover{
    background: rgb(167, 178, 184);
}