* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
    background: #f5f5f5;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
        background: #48616d;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #3c515a;
    }
}

input[type="number"] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    &:hover, 
    &:focus {
        appearance: none;
        -moz-appearance: textfield;
    }
}