.home__slide {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 15vw 20px 20px;
    height: 70vh;
    border-bottom: 1px solid #000000;
}

.slide__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    height: 350px;
    width: 280px;
    border-radius: 20px;
    background-color: rgba(172, 166, 166, 0.884);
    box-shadow: 7px 6px 28px 1px rgba(0,0,0,0.75);
}

.slide__title {
    text-align: center;
}

.slide__description {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.5;
}

.slide__button {
    margin-top: 20px;
    padding: 10px 10px;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    background: #253238;
    transition: background 0.3s;
}

.slide__button:hover{
    background: #3f555f;
}
