.home__slide--first {
    background-blend-mode: multiply;
}

.home__slide--second {
    background-blend-mode: multiply;
}

.galery__buttons {
    display: flex;
    justify-content: center;
}

.galery__radio {
    display: none;
}

.galery__button {
    display: inline-block;
    position: relative;
    margin: -25px 10px 0 10px;
    height: 8px;
    width: 8px;
    cursor: pointer;
    border-radius: 50%;
}

.galery__button::after {
    content: "";
    display: block;
    position: absolute;
    left: -4px;
    top: -4px;
    height: 12px;
    width: 12px;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.galery__button:hover {
    background: #d3d3d3;
}

#slide1:checked~.galery__buttons .btn1,
#slide2:checked~.galery__buttons .btn2 {
    background: #ffffff;
}

#slide1:checked~.home__slide--first,
#slide2:checked~.home__slide--second {
    animation-name: next-slide;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

#slide1:not(:checked)~.home__slide--first,
#slide2:not(:checked)~.home__slide--second {
    display: none;
}

@keyframes next-slide {
    0% {
        background-color: #3a3a3a;
    }

    100% {
        background-color: #a8a8a8;
    }
}

.arrow-button {
    display: inline-block;
    position: absolute;
    top: 45%;
    padding: 10px;
    border: solid #ffffff;
    border-width: 0 7px 7px 0;
    transition: border-color 0.3s;
}

.arrow-button:hover {
    border-color: #a8a8a8;
}

.decrement-button {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 2%;
}

.increment-button {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 2%;
}