.radio {
    display: none;
}

.galeryButtons {
    display: flex;
    justify-content: center;

    .galeryButton {
        display: inline-block;
        position: relative;
        margin: -25px 10px 0 10px;
        height: 8px;
        width: 8px;
        cursor: pointer;
        border-radius: 50%;

        &::after {
            content: "";
            display: block;
            position: absolute;
            left: -4px;
            top: -4px;
            height: 12px;
            width: 12px;
            border: 2px solid #ffffff;
            border-radius: 50%;
        }

        &:hover {
            background: #d3d3d3;
        }
    }
}

.arrowButton {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 45%;
    padding: 10px;
    border: solid #ffffff;
    border-width: 0 7px 7px 0;
    transition: border-color 0.3s;

    &:hover {
        border-color: #a8a8a8;
    }
}

.decrementButton {
    left: 2%;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.incrementButton {
    right: 2%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

:global(#slider-slide1):checked~.galeryButtons .galeryButton1,
:global(#slider-slide2):checked~.galeryButtons .galeryButton2 {
    background: #ffffff;
}