.informationBlock {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    margin-top: 20px;
    border-radius: 10px;
    background: #ffffff;

    .row {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .charBody,
    .charName {
        display: inline-block;
        margin: 15px 40px 5px 40px;
    }

    .charBody {
        margin-left: 200px;
    }
}