.container {
    display: block;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    font-size: 18px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    display: none;
}

.checkmark {
    position: absolute;
    top: 6px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input~.checkmark {
    background-color: #ccc;
}

.container input:checked~.checkmark {
    background-color: #608292;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container input:checked~.text{
    text-decoration: line-through;
}

.container .checkmark:after {
    width: 5px;
    height: 5px;
    left: 5px;
    top: 5px;
    background: #253238;
    border-radius: 50%;
}