.commentary {
    display: flex;
    align-items: center;
    margin: 20px 0px 20px 0px;
    background: #ffffff;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
}

.commentaryReply {
    margin-left: 60px;
}

.avatar {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin-right: 20px;
}

.authorName {
    margin-bottom: 10px;
}

.replyName {
    color: #b6b6b6;
    font-size: 14px;
    font-weight: 500;
}

.commentaryMenu {
    margin-top: 10px;
}

.textButton {
    color: #181818;
    font-size: 15px;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.2s;
}

.textButton:hover {
    color: #b6b6b6;
}
