@import "../../variables.scss";

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 5px 10vw;
    color: #ffffff;
    background: $second-background-color;
    border-bottom: 1px solid #000000;

    .logo {
        color: #ffffff;
        user-select: none;
        text-decoration: none;
    }

    .navigation {
        display: flex;
        align-items: center;
        flex-wrap: wrap;


        .link {
            display: inline-block;

            color: #ffffff;
            text-decoration: none;

            &:hover {
                color: #dadada;
                text-decoration: underline;
            }
        }

        .selectedLink {
            color: #dadada;
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 650px) {
    .header {
        flex-direction: column;

        .logo {
            font-size: 20px;
        }

        .link {
            margin-right: 20px;
        }

        .contactsPhone {
            display: flex;
            justify-content: space-around;
            font-size: 14px;
            margin-top: 10px;
        }

        .contacts {
            display: none;
        }
    }

}

@media screen and (min-width: 650px) {
    .logo {
        font-size: 28px;
    }

    .link {
        margin-right: 40px;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }

    .contactsPhone {
        display: none;
    }
}