@import "../../variables.scss";

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10vw;

    color: #ffffff;
    background: $second-background-color;
    border-bottom: 1px solid #000000;

    .logo {
        color: #ffffff;
        font-size: 28px;
        user-select: none;
        text-decoration: none;
    }

    .navigation {
        display: flex;
        align-items: center;

        .link {
            display: inline-block;
            margin-right: 40px;

            color: #ffffff;
            font-size: 16px;
            text-decoration: none;

            &:hover {
                color: #dadada;
                text-decoration: underline;
            }
        }

        .selectedLink {
            color: #dadada;
            text-decoration: underline;
        }

        .contacts {
            font-size: 15px;
        }
    }
}