.galery {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px 20px 20px 20px;
    background: #ffffff;
    border-radius: 10px;
    height: 400px;
    width: 800px;

    .mainSlide {
        max-height: 400px;
        max-width: 600px;
    }

    .galeryAside {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 70px;
    }

    .slide {
        cursor: pointer;
        margin-top: 10px;
        max-width: 130px;
        max-height: 130px;
        background-size: cover;

        &:hover{
            opacity: 0.8;
        }
    }
}