@import "../../../variables.scss";

.galery {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px 20px 20px 20px;
    background: $content-background;
    border-radius: 10px;
    min-height: 400px;

    .mainSlide {
        max-height: 400px;
    }

    .galeryAside {
        display: flex;  
        align-items: center;
        margin-right: 5%;
    }

    .slide {
        cursor: pointer;
        margin: 10px;
        max-width: 130px;
        max-height: 130px;
        background-size: cover;

        &:hover{
            opacity: 0.8;
        }
    }
}

@media screen and (max-width: 900px) {
    .galery {
        flex-direction: column-reverse;
        max-width: 500px;
    }
    .galeryAside {
        flex-wrap: wrap;
    }
    .mainSlide {
        max-width: 350px;
    }
}

@media screen and (min-width: 900px) {
    .galeryAside {
        flex-direction: column;
    }
    .mainSlide {
        max-width: 30vw;
    }
}