.button {
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    height: fit-content;
    width: fit-content;
    background: #253238;
    transition: background 0.2s;
    text-decoration: none;

    &:hover {
        background: #435b66;
    }
}